* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/* MENU HAMBURGUER */

.menu-hmb {
    background-color: lightgrey;
    height: 100%;
    width: 200px;
}
.hmb_logo {
    margin-left: 5px;
    padding-left: 19px;
    padding-top: 5px;
}